@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Space+Grotesk:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family:'Space Grotesk', sans-serif;
}
a{
    font-size: 16px;
    cursor: pointer;
    font-family:'Open Sans', sans-serif;
}
p, textarea{
    font-size: 18px;
    font-family:'Open Sans', sans-serif;
}
textarea{
    padding: 10px;
    resize: none;
    font-size: 16px;
}
input[type=text]{
    padding: 0 10px;
    font-size: 16px;
}

.banner{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../img/bg-img.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content:left;
    /* background-color:   rgb(248, 230, 202); */
    background-color:rgba(252, 253, 253, 0.7);
    position: absolute;
    top: 0;
}
.navbar ul{
    margin-left:2%;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    display: block;
    padding: 20px 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.navbar ul li a:hover{
    /* background-color:   rgb(248, 230, 202); */
    /* background-color:rgb(243, 219, 171); */
    transition: 0.2s;
    font-weight: 900;
}

.navbar-about{
    display: flex;
    width: 100%;
    justify-content:left;
    position:absolute;
    top: 0;
}

.navbar-about ul{
    margin-left:2%;
}

.navbar-about ul li{
    display: inline-block;
}

.navbar-about ul li a{
    display: block;
    padding: 20px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.navbar-about ul li a:hover{
    color:gainsboro;
    transition: 0.2s;
}

.content{
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
.body-content{
    width: 1000px;
}
.body-content h1{
    font-size: 55px;
    text-align: center;
    margin-bottom: 5%;
}
#home{
    background-color: rgb(241, 238, 238);
    overflow: auto;
}

#aboutbody {
    background-color: rgb(241, 238, 238);
}

#about{
    overflow: auto;
}
.translate{
    font-size: 16px;
    width: 100%;
}

.translate p{
    padding-bottom: 10px;
}

.translate input{
    background-color:lightblue;
    /*30% color*/
}

.translate-main{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin-bottom: 18px;
    border-radius: 15px;
    border: solid 2px black;
    background-color: aliceblue;
    /*30% color*/
}

#translate-submit{
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    align-self: center;
    padding: 8px;
    border: solid 2px black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 20px;
    margin: 10px 0;
    text-decoration: none;
    font-weight: 900;
    color: #000;
    background-color:lightblue;
    z-index: 1;
    overflow: hidden;
}

#translate-submit span{
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    border-radius: 50%;
    width: 0%;
    height: 100%;
    background-color:rgb(66, 181, 243);
    /* background-color:rgb(161, 161, 251);  */
    /* 10% color */
    z-index: -1;
}

#translate-submit:hover span{
    width: 100%;
    transition: 0.2s;
}

.translate-main-box{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.translate-main-box textarea{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color:lightblue;
}

.translate-left{
    width: 50%;
    height:100%;
    position: relative;
}

.translate-right{
    height:100%;
    width: 50%;
    position: relative;
}

.translate-right textarea{
    border-bottom-right-radius: 15px;
}

.translate-left textarea{
    border-bottom-left-radius: 15px;
}

.translate-heading{
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    top:0;
    height:10%;
    width:100%;
}
.translate-heading p{
    display: flex;
    align-items: center;
    position: relative;
    top:0;
    height:10%;
    width:100%;
    padding-bottom: 0;
}
.translate-heading-side{
    width: 100%;
    height:100%;
    position: relative;
    display: flex;
    overflow-y: hidden;
}
.translate-heading-side div{
    align-self: center;
    display: flex;
    align-items: center;
}

#translate-heading-side-margin{
    margin-left: 30px;
}

/* come back to it: have to align */
.translate-heading-side div p svg{
    display: inline-block;
    position: relative;
    align-self:center;
    justify-self: center;
}
.translate-heading-side div:hover #braille-selected{
    color:rgb(82, 82, 218); 
    /*10% color */
}
.translate-heading-side div:hover #downarrow-fill{
    fill:rgb(82, 82, 218); 
}

#braille-option:hover{
    cursor: pointer;
}
#braille-selected:hover{
    cursor: pointer;
}
.loader{
    position: absolute;
    width:100%;
    height:100%;
    display: none;
    align-items: center;
    justify-content: center;
    /* 15% color */
}
.loader::after{
    content: '';
    width:75px;
    height:75px;
    border: solid 15px rgb(137, 137, 137);
    border-top-color: white;
    border-radius: 50%;
    animation: loading 0.75s ease-in-out infinite;
    /* 15% color */
}
@keyframes loading{
    from {
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
#language-dropdown{
    visibility: hidden;
    position:absolute;
    width:200px;
    height:40px;
    background-color: white;
    z-index: 1;
    border-radius: 1%;
    margin-left:10px;
    top: 40px;
    left: 0;
    overflow: hidden
}
#language-dropdown div{
    position: relative;
    left:0;
    border: solid 0.5px black;
    width:200px;
    height:40px;
    border-radius: 1%;
    justify-content:baseline;
    overflow: hidden;
}

#language-dropdown p{
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    margin-left:20px;
}

.header{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    z-index:-1;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255, 1)), url(braille-image.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.content-about{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
    align-items: center;
}

.content-about h1{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.content-contact{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    align-items: center;
}

.content-contact h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.result{
    position:absolute;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 40px !important; 
}

.result ul{
    height: 100%;
    position: relative;
    right: 0;
    width: 120px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 20px;
}
.result ul li{
    height: 32px;
    width: 32px;
}
.result ul li a{
    position:relative;
    top:0;
    color:black;
    display: flex;
    height: 32px;
    width: 32px;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
}
.result ul li a:hover{
    background-color: rgb(66, 181, 243);
    /*10% color */
    transition:0.2s;
}
.result ul li a svg{
    position:absolute;
    top:0;
}

#clear-button{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 32px;
    width: 32px;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
}
#clear-button svg{
    text-align: center;
}
#clear-button:hover{
    transition: 0.2s;
    background-color: rgb(66, 181, 243);
    /*10% color */
}

#contact-para{
    margin-bottom: 30px;
}

.form p{
    margin:10px 0;
}

#fname{
    display:inline-block;
    width:40%;
}

#fname input[type=text]{
    width:100%;
    height: 40px;
}

#fname input[type=text]{
    width: 90%;
    height: 20px;
}

#lname{
    display:inline-block;
    width:40%;
    margin-left: 5%;
    height: auto;
}

#lname input[type=text]{
    width:90%;
    height: 20px;
}

#email{
    width:100%;
}

#email input[type=text]{
    width:85%;
    height: 20px;
}

#feedback textarea{
    margin-top: 0;
    margin-bottom: 10px;
    width:85%;
    height: 40vh;
}

#feedback a{
    position: relative;
    display: inline-block;
    border-radius: 25vw;
    padding: 1%;
    text-decoration: none;
    color:black;
    overflow:hidden;
    /* border: solid 2px lightblue; */
}
#bg-span{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color:lightblue;
    border-radius: 25vw;
    padding: 1%;
    text-decoration: none;
    color:black;
    z-index:-2;
}
#hover-span{
    width: 0;
    height: 100%;
    position:absolute;
    top: 0;
    left: -10px;
    display: inline-block;
    background-color:rgb(66, 181, 243);
    border-radius: 25vw;
    padding: 1%;
    text-decoration: none;
    color:black;
    z-index:-1;
}
#feedback a:hover{
    border-color: transparent;
}
#feedback a:hover #hover-span{
    left:0;
    width:100%;
    transition: 0.2s;
}
#top-margin{
    margin-top: 150px
}
#info-para{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 1vw;
    background-color:rgba(252, 253, 253, 0.7);
    padding: 3%;

}
#info-para div{
    width: 80%;
}
#info-para div p{
    margin-bottom: 10px;
}
@media (max-width: 1280px) {
    .body-content {
        width:70%;
    }
    .translate-main{
        height:450px;
    }
}

@media (max-width: 1000px) {
    .body-content {
        width: 80%;
        /* background-color: rgb(68, 255, 0); */
    }
    .form textarea{
        height: 120px;
    }
    #fname input[type=text], #lname input[type=text]{
        width:85%;
    }
    p, a{
        font-size: 16px;
    }
    textarea, input[type=text]{
        font-size: 14px;
    } 
    .content h1{
        font-size: 36px;
    }
    .navbar{
        font-size: 10px;
    .navbar ul li a{
        padding: 18px 10px;
    }
}

@media (max-width: 700px) {
    .body-content {
        width: 80%;
        /* background-color: rgb(189, 57, 0); */
    }
    .translate-main{
        flex-direction: column;
        height:500px;
    }
    .translate-left{
        width: 100%;
        height: 50%;
    }
    .translate-right{
        width: 100%;
        height: 50%;
    }
    .translate-heading{
        height:15%;
    }
    .translate-main-box {
        height: 85%;
    }
    .translate-right textarea{
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .translate-left textarea{
        border-bottom-left-radius: 0;
    }
    p, a{
        font-size: 16px;
    }
    textarea, input[type=text]{
        font-size: 14px;
    } 
    .content h1{
        font-size: 36px;
    }
    .navbar{
        font-size: 10px;
        justify-content:center;
    }
    .navbar ul li{
        justify-content: space-between;
    }
    .navbar ul li a{
        padding: 18px 10px;
    }
    #feedback textarea{
        height: 30vh;
    }
    #email input[type=text], #feedback textarea{
        width:90%;
    }
    #fname, #lname{
        width: 45%;
    }
    #fname input[type=text], #lname input[type=text]{
        width:80%;
    }
    #top-margin{
        margin-top: 100px;
    }
}

@media (max-width: 412px) {
    .body-content {
      width:300px;
      /* background-color: orange; */
    }
    .form textarea{
        height: 120px;
    }
    .content h1{
        font-size: 32px;
    }
    p, a, .navbar ul li a{
        font-size: 14px;
    }
    textarea, input[type=text]{
        font-size: 14px;
    } 
    .navbar{
        justify-content:center;
    }
    .navbar ul li{
        justify-content: space-between;
    }
    .navbar ul li a{
        padding: 18px 10px;
    }
    #email input[type=text], #feedback textarea{
        width:80%;
    }
    #fname, #lname{
        width: 45%;
    }
}

@media (max-width: 360px) {
    .body-content {
        width:85%;
        /* background-color: red; */
    }
    .form textarea{
        height: 80px;
    }
    p, a, .navbar ul li a{
        font-size: 14px;
    }
    textarea, input[type=text]{
        font-size: 14px;
    } 
    .content h1{
        font-size: 28px;
    }
    .navbar{
        justify-content:center;
    }
    .navbar ul li{
        justify-content: space-between;
    }
    .navbar ul li a{
        padding: 20px 10px;
    }
    #email input[type=text], #feedback textarea{
        width:90%;
    }
    #feedback textarea{
        height: 20vh;
    }
}
}